/*body 中的container整体下移*/
body { padding-top: 70px; overflow-x: hidden; }
/*页面头部导航修改*/
@media screen and (min-width: 768px) { /*大于768的尺寸*/
    .navbar-nav { float: right; }  
}
/*baiduMap*/
#allmap{
	width: 100%;
	height: 400px;
	overflow: hidden;
	margin: 0;
}
.row {
margin-top: 30px;
min-width: 732px;
}
.addr{
background: url(../image/contact-us.png) no-repeat 0 0;
background-size: 50px 250px;
background-position: 0px 0px;
margin-left: 20px;
height: 50px;
}
.addr p, .tel p, .mail p, .qq p{
margin: 0;
font-size: 18px;
line-height: 2.6;
margin-left: 60px;
}
.tel {
position: relative;
background: url(../image/contact-us.png) no-repeat 0 0;
background-size: 50px 250px;
background-position: 0px -61px;
margin-left: 20px;
height: 50px;
}
.mail {
background: url(../image/contact-us.png) no-repeat 0 0;
background-size: 50px 250px;
background-position: 0px -121px;
margin-left: 20px;
height: 50px;
}
.qq {
background: url(../image/contact-us.png) no-repeat 0 0;
background-size: 50px 250px;
background-position: 0px -180px;
margin-left: 20px;
height: 50px;
}