/*body 中的container整体下移*/
body { padding-top: 70px; overflow-x: hidden; }
/*页面头部导航修改*/
@media screen and (min-width: 768px) { /*大于768的尺寸*/
    .navbar-nav { float: right; }  
}
/*导航修改*/
@media screen and (max-width: 767px) { 
    #nav { display: none; }
}

/*dashboard 左侧导航*/
#nav-menu > li { margin-bottom: 3px; }
.menuhere, .fakemenuhere { background: #eee; box-shadow: none; border-radius: 6px; font-size: 18px; color: #656565; }    
.glyphicon { margin-right: 10px; }
.nav>li>a:hover, .nav>li>a:focus { color: #fff; background: #484848; }
.current { color: #fff !important; background: #484848 !important; }
.submenu { background: #D2D7E4; box-shadow: none; border-radius: 6px; font-size: 16px; line-height: 16px; color: #656565; border: solid 1px #eee;}   

/*title*/
.forTr { height: 45px; }
.titleTop { font-size: 18px; background: #eee; }
.titleTop th { font-weight: bold; }
th, td { text-align: center; }
.titleNum { height: 150px; font-size: 90px; }
.titleBottom { color: #fff; font-size: 18px; background: #484848; }

/*top5*/
.top5Num { font-size: 18px; }
.top5Clothes { font-size: 18px; height: 130px; }
.top5Clothes td { text-align: center; }
