.container { min-width: 1010px;  }
.container .myflower { 
background-image: url(../image/flower.png); background-repeat: no-repeat; background-position: center;
    width: 100%; height: 610px; margin-top: 100px; text-align: center; }
.container .mytitle { background-image: url(../image/savour.png); background-repeat: no-repeat; background-position: center; width: 100%; height: 100px; margin-bottom: 120px; }

/*for login*/
.glyphicon { position: initial; }
.input-group-addon, .input-group-btn { width: 1% !important; }
.modal-dialog { width: 500px; }
.form-horizontal .form-group { margin-right: 30px; margin-left: 30px; }
.modal-footer { margin-top: 0px; }

/*savour click*/
.mytitle { cursor: pointer; }

/*for register*/
.modal-footer p { display: inline-block; margin-left: 32px; float: left; cursor: pointer; }
.modal-footer p:hover { color: #3276b1; display: inline-block; margin-left: 32px; float: left; cursor: pointer; }




